<% provide(:title, "Help") %>
<div class="jumbotron vertical-center">
	<div class="container text-center">
		
		<h1>Help</h1>
		<p>
			Get help on the Ruby on Rails Tutorial a the 
			<a href="http://www.railstutorial.org/#help">Rails Totorial help section</a>
			To get help on this sample app, see the 
			<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em> book</a>
		</p>
	</div>
	
</div>
