<% provide(:title, "Home") %>
<div class="jumbotron vertical-center">
	<div class="container text-center">
		
		<h1>Welcome to the Sample App</h1>
		<p>
			This is the home page for the Ruby on Rails Tutorial sample application.
		</p>
		<%= link_to 'Sign up now!' ,signup_path, :class => 'btn btn-primary'%>
	</div>
	
</div>
<%= image_tag("rails.jpg" ,alt: "Ruby on Rails", size: "90x120") %>